name: Build Container

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Pages
        id: pages
        uses: actions/configure-pages@v2
      - name: Get version
        id: check_ver
        run: |
          VERSION=$(curl -s "${API_STATUS_META}" | jq -r '.trojan_ver')
          echo "::set-output name=version::${VERSION}"
        env:
          API_STATUS_META: ${{ steps.pages.outputs.base_url }}/index.json
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build trojan image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          tags: mogeko/trojan:latest
          build-args: |
            TROJAN_VERSION=${{ steps.check_ver.outputs.version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
