name: Build Container

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Get version
        id: check_ver
        run: |
          $VERSION=$(grep -Po "(\d+\.){2}\d+$" Makefile)
          echo "::set-output name=version::${VERSION}"
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Build trojan image
        uses: docker/build-push-action@v2
        with:
          context: .
          push: false
          tags: mogeko/trojan:latest
          build-args: |
            TROJAN_VERSION=${{ steps.check_ver.outputs.version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
      - name: Test trojan image
        run: |
          RUN_ID=$(head -200 /dev/urandom | cksum | cut -f1 -d " ")
          docker run -d --name trojan-${RUN_ID} mogeko/trojan:latest
          docker rm -f trojan-${RUN_ID}
